* { margin: 0; padding: 0 }
		
		
		body {
			font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
			background: white;
			color: #000;
			width: 1000px;
			min-height: 800px;
			margin: auto;
			text-align: center;
		}
		
		.stripViewer .panelContainer .panel ul {
			text-align: left;
			margin: 0 15px 0 30px;
		}
		
		.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
			margin: 20px 0;
			position: relative;
			width: 100%;
		}

		/* These 2 lines specify style applied while slider is loading */
		.csw {width: 100%; height: 460px; background: #fff; overflow: scroll}
		.csw .loading {margin: 200px 0 300px 0; text-align: center}

		.stripViewer { /* This is the viewing window */
			position: relative;
			overflow: hidden; 
			
			margin: auto;
			width: 650px; /* Also specified in  .stripViewer .panelContainer .panel  below */
			min-height: 750px;
			clear: both;
			background: white;
		}
		
		.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
			position: relative;
			left: 0; top: 0;
			width: 100%;
			list-style-type: none;
			/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
		}
		
		.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
			float:left;
			height: 100%;
			position: relative;
			width: 700px; /* Also specified in  .stripViewer  above */
		}
		
		.stripViewer .panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
			padding: 0px;
		}
		
		.stripNav { /* This is the div to hold your nav (the UL generated at run time) */
			margin: auto;
		}
		
		.stripNav ul { /* The auto-generated set of links */
			list-style: none;
		}
		
		.stripNav ul li {
			float: left;
			margin-right: 2px; /* If you change this, be sure to adjust the initial value of navWidth in coda-slider.1.1.1.js */
		}
		
		.stripNav a { /* The nav links */
			font-size: 22px;
			text-align: center;
			line-height: 40px;
			color: #227784;
			text-decoration: none;
			display: block;
			padding: 10px 15px;
		}
		.stripNav li.tab1, li.tab2, li.tab3{ 
            width: 211px;
            height: 65px;
            background:url("../images/tab_bg.png") no-repeat;
        }

		.stripNav li a.current, a:hover {
			background: url("../images/button_bg.png") no-repeat;
			color: #fff;
		}
		