<h1>Create a new maingroup</h1>

<%= form_for @maingroup, :url => maingroups_path do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit "Create Maingroup!!!" %>
<% end %>
