<%= render 'shared/top' %>
<br/><br/><br/><br/>
<div>
	<b>Name </b>
	<%= @maingroup.name %>
	<%= @maingroup.variety %>
</div>
<% unless @categories.empty? %>
	<ul class="users">
		<%= render @categories %>
	</ul>
<% end %>
