
#wrapper {
	margin:0 auto;
	width:600px;
}

/* timer general */
#timer {
	position:relative;
}



/* timer numbers */
.timer_numbers {
	font-size:30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	color:#000;
}

#timer_days {

	float:left;
	width:35px;
	padding:13px 0 0 18px;
	letter-spacing:2px;
}

/* timer labels */
.timer_labels {
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
	color:#000;	
}

#timer_labels {
	position:relative;
}

#timer_days_label {
	position:absolute;
	top:40px;
	left:18px;	
}

#timer_hours_label {
	position:absolute;
	top:40px;
	left:70px;
	
}

#timer_mins_label {
	position:absolute;
	top:40px;
	left:125px;	
}

#timer_seconds_label {
	position:absolute;
	top:40px;
	left:180px;
}





/* below style not apart of the tutorial */
p#demoPage {
	display:inline;
	padding:5px;
	background-color:#000000;
	color:#FFFFFF;
	margin:20px 0;
	font-size:18px;
}

p#demoPage a {
	color:#FFFFFF;	
}

