td{
	vertical-align: top;
}

#welcometopbar {
    width: 100%;
    height: 50px; 
    position: auto;
    z-index: 999;
	box-shadow: 0px 0px 10px  #000;
}

#welcomebottombar{
    width: 100%;
    height: 67px;
    background: url("/images/bottom_layer.png") bottom right no-repeat;
	position:fixed;
	bottom:0px;
}

.gradient {
		height: 100%;
		/* For WebKit (Safari, Google Chrome etc) */
		background: -webkit-gradient(linear, left bottom, left top, from(#227784), to(#4488c2));
		/* For Mozilla/Gecko (Firefox etc) */
		background: -moz-linear-gradient(top, #227784, #4488c2);
		/* For Internet Explorer 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#227784, endColorstr=#4488c2);
		/* For Internet Explorer 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#227784, endColorstr=#4488c2)";
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-color: #247885;
	font-size: 12px;
	background: #FFF;
}

#welcomewrap {
    margin: 0px auto;
    padding: 0px;
    position: auto;
    background-color: #f1f8f9;
}

#welcomelogo {
	overflow:hidden; 
	margin:-55px 0px 0px 40px
}

#logo {
	float:left;
	padding-top:20px;
}

#welcometo {
	float:left;
	color:#FFF;
	padding-top:28px;
	font-size:14px;
	font-weight:bold;
}

#middlecontainer {
	margin-left:60px;
	margin-top:10px;
	float:left;
}

.signin {
	color:#4488c2;
	font-weight:bold;
	font-size:25px;
	padding-bottom:5px;
}

#signupmsg {
	color:#4488C2;
	padding-bottom:10px;
}

.loginform {
	padding-left:40px;
	padding-right:40px;
	padding-bottom:60px;
}

.partform {
	margin:0px;
	float:left;
	display:block;
	padding-right:20px;
}

.partform label {
	cursor:pointer;
	font-weight:bold;
}

.partform input[type=text] {
	width:160px;
	padding:4px;
	border:2px solid #4488C2;
}

.partform input[type=password] {
	width:160px;
	font-size:14px;
	padding:4px;
	border:2px solid #4488C2;
	margin-right:10px;
}

.partform input[type=submit] {
	margin-top:13px;
	font-size:15px;
	font-weight:bold;
	padding:8px;
	color:white;
	background: -webkit-gradient(linear, left bottom, left top, from(#227784), to(#4488c2));
	background: -moz-linear-gradient(top, #227784, #4488c2);
	border:none;
	cursor:pointer;
}

.partform input[type=checkbox] {
	margin:0px 3px 3px 3px;
	position:relative;
	top:2px;
}

.partform a {
	text-decoration:none;
	color:#4488C2;
	position:relative;
	top:3px;
}

#remlabel {
	font-weight:normal;
	margin-left:3px;
	color:#4488C2;
	position:relative;
	top:0px;
}

.signupform {
	padding-bottom:4px;
}

.signupform label {
	float:left;
	width:150px;
	padding-top:8px;
}

.signupform input {
	font-size:12px;
}

.signupform input[type=text] {
	width:200px;
	padding:4px;
	border:2px solid #4488C2;
}

.signupform input[type=password] {
	width:200px;
	padding:4px;
	border:2px solid #4488C2;
}

.signupform select {
	padding:1px;
}

#signupform input[type=submit] {
	margin-left:150px;
	font-weight:bold;
	padding:8px 25px 8px 25px;
	color:white;
	background: -webkit-gradient(linear, left bottom, left top, from(#227784), to(#4488c2));
	background: -moz-linear-gradient(top, #227784, #4488c2);
	border:none;
	cursor:pointer;
}

#verticalseparator {
	border-left:2px solid #4488C2;
	float:left;
	margin-left:40px;
	height:420px;
}

#righthalf {
	float:left;
}

#rightwelcomeimage{
	padding-left:130px;
}

#rightlikeimage{
	padding-top:30px;
	padding-left:170px;
}
