#wrap {
    margin: 13px auto;
    width: 1104px;
    height: 800px;
	border:1px solid transparent;
}

#leftsidebar {
    position: fixed;
	top:100px;
    z-index: 6;
}

#leftcontent {
    width: 232px;
    height: 400px;
    background-color:#fbfbfa;;
    border: 1px solid #CACACA;
    overflow: hidden;
	-webkit-box-shadow: 0 0 4px #C7CFD6;
}

#userbox{
    width: 232px;
    height: 200px;
}

#userinfo{
    width: 232px;
    height: 155px;
}

#profile_img {
	max-height:112px;
	padding:4px;
}

#infolink{
    width: 232px;
    height: 32px;
}

#button{
	float:left;
    width: 106px;
    background-color: #dae9ea;
    margin: 0px 4px 0px 4px;
	cursor:pointer;
}

#button a:link{
    color: #247885;
    text-align: center;
    width: 106px;
    height: 32px;
}

#button:hover{		
	background: -webkit-gradient(linear, left bottom, left top, from(#227784), to(#4488c2));
	background: -moz-linear-gradient(top, #227784, #4488c2);
}

.rounded{
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
}

#leftfooter{
    width: 232px;
    min-height: 300px;
    overflow:hidden;
    margin: 30px 0px 0px 0px;
}

#leftfootertabs{
    width: 232px;
    height: 44px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
    font-size: 15px;
    background-color: #dae9ea;
    margin: 0px 0px 9px 0px;
}

#leftfootertabs a:link
    {
    display:block;
    color:#247885;
    text-align: center;
    padding: 0px 0px;
}

#leftfootertabs a:hover,a:active, a.current{
    display:block;
    width: 232px;
    height: 44px;
    text-align: center;
    background: url("../images/leftfootertabs_selected.png") no-repeat; 
    color: white;
}

#container{
    margin: 42px 0px 0px 237px;
    width: 867px;
    height: 49px;
    padding: 57px 0px 0px 0px;
    position: fixed;
    z-index: 2;
    background-color:white;
}

#tabs{
    width: 468px;
    height: 47px;
    margin: 0px 0px 0px 399px;
    position: absolute;
}

#tabbutton{
    width: 154px;
    height: 47px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
    font-size: 18px;
    background-color: #dae9ea;
    padding: 0px 2px 0px 2px;
}

#tabbutton a:link
    {
    display:block;
    text-align: center;
    color: #247885;
    text-decoration: none;
}

#tabbutton a:hover, a:active{
    display:block;
    width: 128px;
    height: 21px;
    text-align: center;
    background: url("../images/tabbutton_selected.png") no-repeat;
    padding: 13px;
    color: white;
}

#tabbutton a:current{
    width: 154px;
    height: 47px;
    color: white;
    text-align: center;
    background: url("../images/tabbutton_selected.png") no-repeat;
}

#wrap2{
    margin: 150px 0px 0px 240px;
    min-height: 600px;
    width: 863px;
    position: relative;
    background-color: #f1f8f9;
}

.rightprofileinfo {
	width:80px;
	color:#247885;
	padding-right:8px;
	text-align:right;
	clear:both;
	float:left;
	font-size:10px;
	margin-bottom:3px;
}

.rightprofile {
	float:left;
	background-color:#e6e6e6;
	padding-left:3px;
	width:200px;
	font-size:10px;
	margin-bottom:3px;
}

.dbitem:hover {
	background-color:#4488c2;
	color:white;
}


#heading{
	color:#247885;
	font-size:14px;
}
#wrap2 a {
	text-decoration:none;
}

#wrap2 a:hover {
	text-decoration:underline;
}

#wrap2 a:active {
	text-decoration:underline;
}

form.rating_ballot1 input#rating_submit { display: none; }
form.rating_ballot2 input#rating_submit { display: none; }
form.rating_ballot3 input#rating_submit { display: none; }
form.rating_ballot4 input#rating_submit { display: none; }
form.rating_ballot5 input#rating_submit { display: none; }

#commentfield{
height:50px;
resize:none;
}

#reviewfield{
height:50px;
resize:none;
}