.gradient {
		height: 100%;
		/* For WebKit (Safari, Google Chrome etc) */
		background: -webkit-gradient(linear, left bottom, left top, from(#227784), to(#4488c2));
		/* For Mozilla/Gecko (Firefox etc) */
		background: -moz-linear-gradient(top, #227784, #4488c2);
		/* For Internet Explorer 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#227784, endColorstr=#4488c2);
		/* For Internet Explorer 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#227784, endColorstr=#4488c2)";
}


body{
	font-family: Arial, Helvetica, sans-serif;
	font-color: #247885;
	font-size: 12px;
	background: #FFF;
	margin:0px;
}
	
.rounded{
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
}


#welcomewrap {
    margin: 0px auto;
    padding: 0px;
    position: auto;
    background-color: #f1f8f9;
}

#topbar {
    width: 100%;
    height: 47px; 
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1;
    background: url("../images/header.jpg") no-repeat;

}

#header {
    margin: 0px auto;
    width: 1104px;
    height: 47px;
    color: white;
    z-index: inherit;
}

#wrap {
    margin: 13px auto;
    width: 1104px;
    height: 800px;
 border:1px solid transparent;
}

#leftsidebar {
    position: fixed;
    z-index: 6;
}

#leftheader {
    width: 232px;
    height: 90px;
    background: url("../images/logosmall.png") no-repeat;
}

#leftcontent {
    width: 232px;
    height: 400px;
    background-color:#fbfbfa;;
    border: 1px solid #CACACA;
    overflow: hidden;
	-webkit-box-shadow: 0 0 4px #C7CFD6;
}

#userbox{
    width: 232px;
    height: 200px;
}
#userinfo{
    width: 232px;
    height: 155px;
}

#infolink{
    width: 232px;
    height: 32px;
}

#button{
    width: 106px;
    height: 32px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    background-color: #dae9ea;
    margin: 0px 4px 0px 0px;
}

#button a:link
    {
    
    color: #247885;
    text-align: center;
    width: 106px;
    height: 32px;
}
/*
#button a:hover,a:active, a.current{

    background: url("../images/button_selected.png") no-repeat;
    color: white;
}
*/

#leftfooter{
    width: 232px;
    min-height: 300px;
    overflow:hidden;
    margin: 30px 0px 0px 0px;
}

#leftfootertabs{
    width: 232px;
    height: 44px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
    font-size: 15px;
    background-color: #dae9ea;
    margin: 0px 0px 9px 0px;
}

#leftfootertabs a:link
    {
    display:block;
    color:#247885;
    text-align: center;
    padding: 0px 0px;
}

#leftfootertabs a:hover,a:active, a.current{
    display:block;
    width: 232px;
    height: 44px;
    text-align: center;
    background: url("../images/leftfootertabs_selected.png") no-repeat;
    color: white;
}

.feedbox{
    width: 149px;
    height: 234px;
    border: 1px solid #ccc;
    margin: 0px 0px 0px 10px;
}

#container{
    margin: 33px 0px 0px 237px;
    width: 867px;
    height: 49px;
    padding: 57px 0px 0px 0px;
    position: fixed;
    z-index: 2;
    background-color:white;
}

#tabs{
    width: 468px;
    height: 47px;
    margin: 0px 0px 0px 399px;
    position: absolute;
}

#tabbutton{
    width: 154px;
    height: 47px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
    font-size: 18px;
    background-color: #dae9ea;
    padding: 0px 2px 0px 2px;
}

#tabbutton a:link
    {
    display:block;
    text-align: center;
    color: #247885;
    text-decoration: none;
}

#tabbutton a:hover, a:active{
    display:block;
    width: 128px;
    height: 21px;
    text-align: center;
    background: url("../images/tabbutton_selected.png") no-repeat;
    padding: 13px;
    color: white;
}

#tabbutton a:current{
    width: 154px;
    height: 47px;
    color: white;
    text-align: center;
    background: url("../images/tabbutton_selected.png") no-repeat;
}


#wrap2{
    margin: 138px 0px 0px 237px;
    min-height: 600px;
    width: 866px;
    position: relative;
    border-left: 1px solid #b0b0b0;
    background-color: #f1f8f9;
}

#productimage{
    width: 106px;
    height: 105px;
    border: 1px solid #247885;
    margin: 19px 22px 0px 22px;
}

#likes{
    width: 106px;
    height: 40px;
    margin: 0px 22px 0px 22px;
}

#comment{
    width: 106px;
    height: 55px;
    margin: 3px 22px 0px 22px;
}

p {
    color: #247885;
    font-weight:bold;
    font-size: 16px;
}

#product{
    width: 122px;
    min-height: 30px;
    background-color: #c8e8de;
    margin: 0px 15px 0px 0px;
}

#quicknavigation{
	width: 100%;
	height: 10px;
}

#list li, #list a:visited { 
	list-style-type:none; 
	font-size: small;
	text-align: left;
	text-decoration:none;
	color: #247885;
}

#ratingboxbig{
    width: 50%;
    height: 92%;
    border: 1px solid #dae9ea;
    margin: 2px;
    padding: 2px;
}

#ratingboxsmall{
	width: 294px;
	height: 49px;
	margin: 2px;
	padding: 2px;
}

#youmightlike{
	width: 115px;
	min-height: 130px;
	border: 1px solid #c8e8de;
	margin: 3px;
	padding: 1px;
	-webkit-box-shadow: 0 0 4px #C7CFD6;
}

.box1{
	position: relative;
	float: left;
	margin: 3px;
	padding: 3px;
}

#infoheader{
	width: 100%;
	height: 17px;
	background-color: #dae9ea;
	margin: 2px 0px 0px 0px;
	padding: 3px 0px 0px 4px;
}

.like-container{
	background-color:  transparent;
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
}
.like-container:hover{
	text-decoration:none;
}
.like-container:hover .likebox{
	display:block;
	text-decoration:none;
}
.like-container:hover .likebox2{
	display:block;
	text-decoration:none;
}
.like-container span{
	background-color: transparent;
	height: 100%;
	position:absolute;
	top:0;
	right:0;
	width: 0px;
	opacity:.30;
}
.likebox{
	background:#337F93;
	color:#fff;
	display: visible;
	height: 25px;
	opacity:0.7;
	padding:3px;
	position:absolute;
	right:0;
	top:0;
	border: 0px;
	margin-right: 0px;
}
.likebox2{
	background:#337F93;
	color:#fff;
	display: none;
	height: 25px;
	opacity:0.7;
	padding:3px;
	position:absolute;
	right:0;
	top:0;
	border: 0px;
	margin-right: 0px;
}
.likebox:hover{
	opacity: 1.0;
	-webkit-box-shadow: 0 0 4px #000;
}
.likebox2:hover{
	opacity: 1.0;
	-webkit-box-shadow: 0 0 4px #000;
}
