<div class="stats">
        <a href="<%= followers_user_path(current_user) %>">
          <span id="followers" class="stat">
            <%= pluralize(current_user.followers.count, "follower") %>
          </span>
        </a>
</div>
