<div>
  <%= form.label :ratingname %>
  <%= form.text_field :ratingname %>
</div>
<div>
	<%= form.label :maingroup_id %>
	<%= form.collection_select(:maingroup_id, Maingroup.all, :id, :name) %>
</div>