<h1>Create a new rating category</h1>

<%= form_for @ratingcategory, :url => ratingcategories_path do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit "Create rating category!!!" %>
<% end %>
