<h2>Users</h2>
<br/><br/>
<%= render @users %>
<div style="clear:both"></div>
<%= link_to "More users...", '/users?utf8=?&search=#{@searchvalue}' %>
<br/>
<div style="clear:both"></div>
<h2>Products</h2>
<%= render @products %>
<div style="clear:both"></div>
<%= link_to "More products", '/products?utf8=?&search=#{@searchvalue}' %>