<h1>Create a new subgroup</h1>

<%= form_for @subgroup, :url => subgroups_path do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit "Create subgroup!!!" %>
<% end %>
