<h1>Create a new Category</h1>

<%= form_for @category, :url => categories_path do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit "Create Category!!!" %>
<% end %>
