<%= image_tag current_user.photo.url(:thumb) , :style => "float:left;padding-right:5px" %>
<%= form_for([@product, @product.productcomments.build]) do |f| %>
  <div style= "float:left">
    <%= f.text_area(:content, :id => 'commentfield')%>
  </div>
	<div style="clear:both"></div>
  <div style="float:right;padding-top:15px;padding-right:15px;">
    <%= f.submit "Comment" %>
  </div>
	<div style="clear:both"></div>
<% end %>