<%= image_tag current_user.photo.url(:thumb) , :style => "float:left;padding-right:5px" %>
<%= form_for([@product, @product.reviews.build]) do |f| %>
	<div style= "float:left">
    <%= f.text_area(:content, :id => 'reviewfield')%>
  </div>
	<div style="clear:both"></div>
  <div style="float:right;padding-top:15px;padding-right:15px;">
    <%= f.submit "Add Review" %>
	</div>
	<div style="clear:both"></div>
<% end %>