<div style="text-align:center">	<%= will_paginate @products%></div>
<div id="products">
	<%= render @products %>
</div>
<div style="clear:both;"></div>
<div style="text-align:center"> <%= will_paginate @products%> </div>
<br/><br/>
<% if isadmin? %>
	<%= link_to "New product", new_product_path %>
<% end %>
