<div style="padding-top:30px">
<h1><%= link_to @product.productname, @product %></h1>
<h1><%= @title %></h1>
<% unless @reviews.empty? %>
<%= render :partial => 'reviews/review', :collection => @reviews %>
<%= will_paginate @reviews %>
<% end %>
</div>