<div id="fixed">
	<div class="gradient" id="welcometopbar"></div>
	<div id="top_container">
		<div id="welcomelogo">
			<div id="logo"><a href="/"><img src="/images/welcome_logo.png"></a></div>
			<div id="searchform">
				
			</div>
			<div id="signout">
				<%= link_to "Sign Out", logout_path %>
			</div>
		</div>
	</div>
</div>
