<div id="infolink">
	<div id="button" class="rounded">
				<img style="padding:2px 0px 1px 2px;float:left;"src="/images/friends.png">
				<div style="padding:5px 0px 5px 30px;"><%= link_to "Friends", following_user_path(current_user) %></div>
	</div>
	<div id="button" class="rounded">
		<div style="padding:5px 0px 5px 30px;"><a href="<%= user_path(current_user) %>">Profile</a></div>
	</div>
	<div style="clear:both;"></div>
</div>
<div style="color:#247885;text-align:center;width:100%;"><%= render 'shared/stats' %></div>
