	<div id="infolink">
<table><tr>
	<td><div class="rounded" id="button">
		<a href="<%= following_user_path(current_user) %>">
			<table width="106" height="32"><tr><td>
				<img src="/images/friends.png"></td>
				<td align="left">Friends</td>
			</tr></table>
		</a>
	</div></td>
	<td><div class="rounded" id="button">
		<a href="<%= user_path(current_user) %>">
			<table width="106" height="32"><tr><td></td>
				<td>Profile</td>
			</tr></table>
		</a>
	</div></td></tr>
</table>
				</div>
				
				<font size=2 color=#247885><%= render 'shared/stats' %></font>