<div id="tabs">
	<table width="468" height="47">
		<tr>
			<td class="rounded" id="tabbutton"><a href="#">Likes Diary</a></td>
			<td class="rounded" id="tabbutton"><a href="#">Cheaps Diary</a></td>
			<td class="rounded" id="tabbutton"><a href="#">Calendar</a></td>
		</tr>
	</table>
</div>
