<div id="topbar">

	<div id="header">
		<table width="1104" height="47" style="z-index:10000"><tr>
			<td width="235"></td>
			<td align="left">
				<!--form method="GET" action="#" id="login_form" onsubmit="#">
					<input type="text" name="search" tabindex="1" value="Search">
                                </form-->
			</td>
			<td align="right">
				<a href=<%= logout_path %> style="color:white;"><h5>Sign Out</h5></a>
			</td>
		</tr></table>
	</div>
</div>