<div id="userinfo">
	<div style="margin:auto;">
		<center>
			<%= image_tag current_user.photo.url(:small), :id =>  'profile_img'%>
		</center>
	</div>
	<div style="clear:both;"></div>
	<div style="text-align:center;font-size:16px;"><b><%= link_to current_user.login, user_path(current_user) %></b></div>
	<div style="color:#247885;text-align:center;"><% if current_user.city %> <%= current_user.city.cityname %> <% end %>, India</div>
</div>
