<html>
<head>
<title>Welcome to likesDiary</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/scaffold.css">

<style>
	td{
		vertical-align: top;
	}
#welcometopbar {
    width: 100%;
    height: 80px; 
    position: auto;
    z-index: 999;
	-webkit-box-shadow: 0px 0px 10px  #000;
   }
#welcomebottombar{
    width: 100%;
    height: 100px;
    background: url("images/bottom_layer.png") no-repeat;
}
</style>


</head>


<body id="welcomewrap">
	<div class="gradient" id="welcometopbar"></div>
	<div>
		<div style="margin: -55px 0px 0px 40px;">
			<table>
				<tr><td><font size=5 color=#FFF>Welcome to</font></td>
				<td><img src="images/welcome_logo.png"></td></tr>
			</table>
		</div>
	</div>
	<table width="100%"><tr>
		<td width="40%" align="center"><br/><br/>
			<section class="round">
			<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
			<% end %>

			<%= yield %>
		</td>
		<td width="60%" align="center">
			<div style="weight: 100%; height: 100%; border-left: 1px solid #b3b3b3; z-index: -1;">
				<div style="weight: 100%; height: 50%; align: middle;">
					<img src="images/welcome_image.png" style="-webkit-box-shadow: 0px 0px 10px  #000;">
				</div>
				<div style="weight: 100%; height: 50%; align: middle; margin: 50px 0px 0px 140px;">
					<img src="images/telluswhatyoulike.png">
				</div>
			</div>
		</td>
	</tr></table>
	<div id="welcomebottombar"></div>
</body>


</html>