<html>
	<head>
		<title>Welcome to likesDiary</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
	</head>
	<body id="welcomewrap">
		<div class="gradient" id="welcometopbar"></div>
		<div>
			<div id="welcomelogo">
				<div id="logo"><img src="images/welcome_logo.png"></div>
			</div>
		</div>
		<div id="middlecontainer">
			<div class="round">
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %></div>
				<% end %>
			</div>
			<%= yield =%>
		</div>
		<div id="verticalseparator">
		</div>
		<div id="righthalf">
			<div><img id="rightwelcomeimage" src="images/welcome_image.png" /></div>
			<div><img id="rightlikeimage" src="images/telluswhatyoulike.png" /></div>
		</div>
		<div id="welcomebottombar"></div>
	</body>
</html>
